@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-image: url("./bg.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-weight: normal;
    font-size: 5rem;
    color: blanchedalmond;
    margin-top: -5rem;
}

.countdown-container {
    display: flex;
    color: azure;
    justify-content: center;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    color: aliceblue;
    line-height: 1.5;
    margin: 0 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el {
    font-size: 2rem;
}